*.class
*.jar
*.~undo-tree~
.clj-kondo/.cache
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.lsp/
/checkouts/
/classes/
/lib/
/target/
pom.xml
pom.xml.asc
# malli + clj-kondo: ignore malli-types
.clj-kondo/metosin/malli-types-clj
